@import url(https://fonts.googleapis.com/css?family=Raleway:500,600,700,800&display=swap);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    bottom: none;
    box-sizing: border-box;
}

html{
    font-family: 'Raleway';
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 35px 30px 20px 30px;
}

.header__title {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #151515;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search__input {
    width: 260px;
    height: 36px;
}

.search__input > input {
    width: 100%;
    height: 100%;
    padding: 10px 13px;
    border: 1px solid #D1D1D1;
    padding: 10px 13px;
    color: #B9B9B9;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.button {
    width: 70px;
    height: 36px;

}

.search__button {
    width: 100%;
    height: 100%;
    background: #1844B6;
    border: none;
}

.header__title {
    display: flex;
    align-content: center;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}


.search-button {
    width: 70px;
    height: 36px;
    background: #1844B6;
    cursor: pointer;
    border: none;
}



/* ------------------------------------------------------------ */



.main {
}
.main__content {
    
}
.flex-column {
    display: flex;
    padding: 20px 30px;
    gap: 20px;
}
.flex-column__item {
    width: 100%;
}
.color-card--highlight-blue {  
    border-top: 4px solid #36B1F7;
}
.color-card--highlight-dark-blue {
    border-top: 4px solid #0315BE;
}
.color-card--highlight-red {
    border-top: 4px solid #E30909;
}
.color-card--highlight-yellow {
    border-top: 4px solid #E2A60C;
}
.color-card--highlight-green {
    border-top: 4px solid #05B417;
}
.color-card {
    width: 100%;
    padding: 12px 15px 20px;
    background: #F2F2F2;
}
.color-card__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #151515;
}
.color-card__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #8C8B8D;
}
.color-card__content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.white-box {
    width: 100%;
    background: #FFFFFF;
    padding: 11px 12px 11px 13px;
}
.white-box__title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1844B6;
    margin-bottom: 9px;
}
.white-box__content {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8C8B8D;
}
.white-box__footer {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #151515;
    margin-top: 9px;
}