@import url(https://fonts.googleapis.com/css?family=Raleway:500,600,700,800&display=swap);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    bottom: none;
    box-sizing: border-box;
}

html{
    font-family: 'Raleway';
}

.search {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 30px;
}

.header__title {
    margin-top: 35px;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.search__container {
    display: flex;
    margin-top: 28px;
}
textarea:focus, input:focus {
    color: #000;
}
.search__input {
    width: 260px;
    height: 36px;
    border: 1px solid #D1D1D1;
    padding: 10px 13px;
    color: #B9B9B9;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.button-img {
}

.search-button {
    width: 70px;
    height: 36px;
    background: #1844B6;
    cursor: pointer;
    border: none;
}
.main {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 20px 30px 0px 30px;
    gap: 20px;
    height: auto;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    height: auto;
    background: #F2F2F2;
    padding: 12px 15px 20px;
}
.item-name {
}
.number-of-tasks {
}
.item-1 {
    border-top: 4px solid #36B1F7;
    height: auto;
}
.item-2 {
    border-top: 4px solid #0315BE;
    height: auto;
}
.item-3 {
    border-top: 4px solid #E30909;
}
.item-4 {
    border-top: 4px solid #E2A60C;
}
.item-5 {
    border-top: 4px solid #05B417;
}

.task {
    width: 100%;
    height: 113px;
    padding: 11px 12px 11px 13px;
    background: #FFFFFF;
}